asgiref==3.6.0
awsebcli==3.20.7
botocore==1.29.158
cement==2.8.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
clr-loader==0.2.5
colorama==0.4.3
distlib==0.3.6
Django==4.2.3
et-xmlfile==1.1.0
filelock==3.12.2
idna==3.4
iniconfig==2.0.0
jmespath==1.0.1
openpyxl==3.1.2
packaging==23.1
pathspec==0.10.1
pip==23.1.2
platformdirs==3.8.1
pluggy==1.2.0
pycparser==2.21
pytest==7.4.0
python-dateutil==2.8.2
pythonnet==3.0.1
PyYAML==5.4.1
requests==2.31.0
semantic-version==2.8.5
setuptools==65.5.0
six==1.14.0
sqlparse==0.4.4
termcolor==1.1.0
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.23.1
wcwidth==0.1.9
